<div class="team-area pt-100 pb-75">
  <div class="container">
    <div class="section-title text-center">
      <h2>Meet the Founders</h2>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-sm-6">
        <div class="single-team-box">
          <img src="assets/images/team/team1.jpg" alt="Image" />
          <div class="founder-content">
            <h3>Donald Isaacs</h3>
            <span>Co-founder and Chief Executive</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="single-team-box">
          <img src="assets/images/team/team2.jpg" alt="Image" />
          <div class="founder-content">
            <h3>Rosalie Sanroman</h3>
            <span>Co-founder and Chief Executive</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="single-team-box">
          <img src="assets/images/team/team3.jpg" alt="Image" />
          <div class="founder-content">
            <h3>Naomi Ostlund</h3>
            <span>Co-founder, Chairman</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
