.single-team-box {
	margin-bottom: 25px;

	img {
		margin-bottom: 18px;
	}
	h3 {
		font-size: 20px;
		margin-bottom: 6px;
	}
    span {
        display: block;
        color: var(--paragraphColor);
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .single-team-box {
        text-align: center;
    
        img {
            margin-bottom: 15px;
        }
        h3 {
            font-size: 16px;
            margin-bottom: 5px;
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .single-team-box {
        h3 {
            font-size: 18px;
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}