<!-- Default Hotels Section -->
<div class="hotels-area pt-100 pb-75">
  <div class="container">
    <div class="section-title">
      <h2>Book a hotel within your budget</h2>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="single-hotel-box">
          <img src="assets/images/hotels/hotel1.jpg" alt="hotel-image" />
          <h3>The zero-star hotel</h3>
          <a routerLink="/hotel-details" class="link-btn"></a>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="row">
          <div class="col-lg-6 col-sm-6">
            <div class="single-hotel-box">
              <img src="assets/images/hotels/hotel2.jpg" alt="hotel-image" />
              <h3>The juniper room</h3>
              <a routerLink="/hotel-details" class="link-btn"></a>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6">
            <div class="single-hotel-box">
              <img src="assets/images/hotels/hotel3.jpg" alt="hotel-image" />
              <h3>Swissotel in istanbul</h3>
              <a routerLink="/hotel-details" class="link-btn"></a>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6">
            <div class="single-hotel-box">
              <img src="assets/images/hotels/hotel4.jpg" alt="hotel-image" />
              <h3>Rock ranch hotel</h3>
              <a routerLink="/hotel-details" class="link-btn"></a>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6">
            <div class="single-hotel-box">
              <img src="assets/images/hotels/hotel5.jpg" alt="hotel-image" />
              <h3>Costa blanca hotel</h3>
              <a routerLink="/hotel-details" class="link-btn"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
