<!-- Page Title -->
<div class="page-title-area ptb-100 bg-4">
  <div class="container">
    <div class="page-title-content">
      <h2>Know about our Elad</h2>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li>About us</li>
      </ul>
    </div>
  </div>
</div>

<app-about></app-about>

<app-features></app-features>

<app-why-choose-us></app-why-choose-us>

<app-customer-support></app-customer-support>

<div class="pt-100">
  <app-feedback></app-feedback>
</div>

<app-team></app-team>

<app-subscribe></app-subscribe>
