.flight-content {
	padding-left: 30px;

	h2 {
		font-size: 35px;
		margin-bottom: 12px;
	}
	.features-list {
		padding-left: 0;
		list-style-type: none;
        margin: {
            bottom: 0;
            top: 30px;
        };
		li {
			position: relative;
			padding-left: 70px;
			margin-bottom: 25px;
            
			h3 {
				font-size: 20px;
				margin-bottom: 8px;
			}
			i {
				top: 0;
				left: 0;
				line-height: 1;
				font-size: 50px;
				position: absolute;
				color: var(--primaryColor);
				transition: var(--transition);
			}
			&:hover {
				i {
					transform: rotateY(360deg);
				}
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
    &.two {
        padding: {
            left: 0;
            right: 30px;
        };
    }
}
.flight-image-two {
	position: relative;

	.flight-shape {
		position: absolute;
		bottom: -30px;
		right: -30px;
	}
}
.d-none {
    &.d-block {
        display: block !important;
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .flight-image {
        text-align: center;
        margin-bottom: 25px;
    }
    .flight-content {
        padding-left: 0;
    
        h2 {
            font-size: 23px;
            margin-bottom: 12px;
        }
        .features-list {
            margin-top: 25px;

            li {
                padding-left: 55px;
                margin-bottom: 20px;
                
                h3 {
                    font-size: 16px;
                    margin-bottom: 8px;
                }
                i {
                    font-size: 40px;
                }
            }
        }
        &.two {
            padding-right: 0;
        }
    }
    .flight-image-two {
        margin-top: 25px;
    
        .flight-shape {
            display: none;
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .flight-image {
        text-align: center;
        margin-bottom: 25px;
    }
    .flight-content {
        padding-left: 0;
    
        h2 {
            font-size: 28px;
            margin-bottom: 12px;
        }
        .features-list {
            margin-top: 25px;

            li {
                padding-left: 58px;
                margin-bottom: 20px;
                
                h3 {
                    font-size: 18px;
                }
                i {
                    font-size: 40px;
                }
            }
        }
        &.two {
            padding-right: 0;
        }
    }
    .flight-image-two {
        margin-top: 25px;
    
        .flight-shape {
            display: none;
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .flight-content {
        padding-left: 0;
    
        .features-list {
            margin-top: 25px;

            li {
                margin-bottom: 20px;
            }
        }
        &.two {
            padding-right: 0;
        }
    }
    .flight-image-two {
        .flight-shape {
            right: -20px;
            bottom: -20px;
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}