<div class="discover-area bg-f2f7fa ptb-100">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5 col-md-12">
        <div class="discover-content">
          <h2>Discover deals in every city</h2>
          <p>
            Curabitur aliquet quam id dui posuere blandit. Vestibulum ac diam
            sit amet quam vehicula elementum sed sit amet dui. Quisque velit
            nisi, pretium ut lacinia in, elementum id enim. Sed porttitor lectus
            nibh. Vivamus magna justo, lacinia eget consectetur sed, convallis
            at tellus. Proin eget tortor risus.
          </p>
          <h4>24/7 Customer Support</h4>
          <a href="tel:+1-719-504-1984">
            <img src="assets/images/icon/call-black.svg" alt="call-back" />
            +1 719-504-1984
          </a>
        </div>
      </div>
      <div class="col-lg-7 col-md-12">
        <div class="discover-image">
          <img src="assets/images/discover-img.jpg" alt="discover-image" />
        </div>
      </div>
    </div>
  </div>
</div>
