<app-booking-bar></app-booking-bar>

    <div class="flights-area ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-12">
                    <div class="left-sidebar">
                        <div class="single-widget">
                            <h3>Search here</h3>
                            <form>
                                <input type="text" class="form-control" placeholder="Search">
                                <button type="submit" class="src-btn"><i class="ri-search-line"></i></button>
                            </form>
                        </div>
                        
                    </div>
                </div>
                @if (flights.length!==0) {
                <!-- result site -->
                <div class="col-lg-9 col-md-12">
                    <div class="flights-listing">
                        <ul class="d-flex justify-content-between sorting">
                            <li>
                                <span>{{flights.length}} flights</span>
                            </li>
                            <li>
                                <select class="form-select">
                                    <option selected>Sorted by default</option>
                                    <option value="1">Price: high to low</option>
                                    <option value="2">Price: low to high</option>
                                </select>
                            </li>
                        </ul>
                        <ul class="flights-list">
                            
                            @for (item of flights; track $index) {
                                <li class="single-flights-box">
                                    <div class="row align-items-center justify-content-center">
                                        <div class="col-lg-5 col-md-12 col-sm-12">
                                            <a routerLink="/flight-details" class="d-block">
                                                <img src="https://res.cloudinary.com/dhee9ysz4/image/upload/v1721110315/evykvvdq9ozs3nkdb4po.png" alt="flights-image">
                                            </a>
                                        </div>
                                        <div class="col-lg-4 col-md-7 col-sm-7">
                                            <div class="content">
                                                <h3>
                                                    <a routerLink="/flight-details">
    
                                                        {{item.nameFlight}}
                                                    </a>
                                                </h3>
                                                <p></p>   
                                                <p>Start Date: {{item.startDate}}</p>
                                                <p>Departure Time : {{item.departureTime}}</p>
                                                
                                                
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-5 col-sm-5">
                                            <ul class="info">
                                                <li>
                                                    <div class="price">{{ item.flightPrice | number:'1.0-0' }} VND</div>
                                                </li>
                                                
                                                <li>
                                                    <a routerLink="/book-now" class="default-btn">
                                                        Book Now
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                        
                    </div>
                </div>
                }
            </div>
        </div>
    </div>



<app-subscribe></app-subscribe>