<!-- Default Subscribe Section -->
<div class="subscribe-area pb-100">
  <div class="container">
    <div class="subscribe-content">
      <h2>Subscribe for the latest deals</h2>
      <p>Sign up now and get the best deals straight in your inbox!</p>
      <form class="newsletter-form">
        <input
          type="email"
          class="form-control"
          placeholder="Email address"
          name="email"
          required
          autocomplete="off"
        />
        <button class="default-btn" type="submit">Subscribe</button>
      </form>
      <img
        src="assets/images/subscribe-shape-1.png"
        alt="shape"
        class="shape shape-1"
      />
      <img
        src="assets/images/subscribe-shape-2.png"
        alt="shape"
        class="shape shape-2"
      />
      <img
        src="assets/images/subscribe-shape-3.png"
        alt="shape"
        class="shape shape-3"
      />
    </div>
  </div>
</div>
