<div class="banner-area">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="banner-content">
          <h1>Book your needs in an easy way</h1>
          <p>
            If you take any of our booking services here, you will get all kinds
            of benefits from us. So take the booking facility today without
            delay.
          </p>
          
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="banner-image">
          <img src="assets/images/banner/banner-img.png" alt="banner-image" />
        </div>
      </div>
    </div>
  </div>
</div>
