<div class="faq-area pb-75">
  <div class="container">
    <div class="section-title">
      <h2>Frequently asked questions</h2>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="faq-accordion">
          <div class="accordion">
            <div class="accordion-section">
              <div
                class="accordion-header"
                (click)="toggleSection(0)"
                [ngClass]="{ open: isSectionOpen(0) }"
              >
                Q - Why is Elad different from others?
              </div>
              <div
                class="accordion-content"
                [ngClass]="{ open: isSectionOpen(0) }"
              >
                <p>
                  Curabitur aliquet quam id dui posuere blandit. Vestibulum ac
                  diam sit amet quam vehicula elementum sed sit amet dui.
                  Quisque velit nisi, pretium ut lacinia in, elementum id enim.
                  Sed porttitor lectus nibh. Vivamus magna justo, lacinia eget
                  consectetur sed, convallis at tellus. Proin eget tortor risus.
                </p>
              </div>
            </div>
            <div class="accordion-section">
              <div
                class="accordion-header"
                (click)="toggleSection(1)"
                [ngClass]="{ open: isSectionOpen(1) }"
              >
                Q - Do I have to pay during the booking process?
              </div>
              <div
                class="accordion-content"
                [ngClass]="{ open: isSectionOpen(1) }"
              >
                <p>
                  Curabitur aliquet quam id dui posuere blandit. Vestibulum ac
                  diam sit amet quam vehicula elementum sed sit amet dui.
                  Quisque velit nisi, pretium ut lacinia in, elementum id enim.
                  Sed porttitor lectus nibh. Vivamus magna justo, lacinia eget
                  consectetur sed, convallis at tellus. Proin eget tortor risus.
                </p>
              </div>
            </div>
            <div class="accordion-section">
              <div
                class="accordion-header"
                (click)="toggleSection(2)"
                [ngClass]="{ open: isSectionOpen(2) }"
              >
                Q - I have not received my booking confirmation, what to do now?
              </div>
              <div
                class="accordion-content"
                [ngClass]="{ open: isSectionOpen(2) }"
              >
                <p>
                  Curabitur aliquet quam id dui posuere blandit. Vestibulum ac
                  diam sit amet quam vehicula elementum sed sit amet dui.
                  Quisque velit nisi, pretium ut lacinia in, elementum id enim.
                  Sed porttitor lectus nibh. Vivamus magna justo, lacinia eget
                  consectetur sed, convallis at tellus. Proin eget tortor risus.
                </p>
              </div>
            </div>
            <div class="accordion-section">
              <div
                class="accordion-header"
                (click)="toggleSection(3)"
                [ngClass]="{ open: isSectionOpen(3) }"
              >
                Q - How can I get the best price for my ticket booking?
              </div>
              <div
                class="accordion-content"
                [ngClass]="{ open: isSectionOpen(3) }"
              >
                <p>
                  Curabitur aliquet quam id dui posuere blandit. Vestibulum ac
                  diam sit amet quam vehicula elementum sed sit amet dui.
                  Quisque velit nisi, pretium ut lacinia in, elementum id enim.
                  Sed porttitor lectus nibh. Vivamus magna justo, lacinia eget
                  consectetur sed, convallis at tellus. Proin eget tortor risus.
                </p>
              </div>
            </div>
            <div class="accordion-section">
              <div
                class="accordion-header"
                (click)="toggleSection(4)"
                [ngClass]="{ open: isSectionOpen(4) }"
              >
                Q - Where can I find my booking confirmation?
              </div>
              <div
                class="accordion-content"
                [ngClass]="{ open: isSectionOpen(4) }"
              >
                <p>
                  Curabitur aliquet quam id dui posuere blandit. Vestibulum ac
                  diam sit amet quam vehicula elementum sed sit amet dui.
                  Quisque velit nisi, pretium ut lacinia in, elementum id enim.
                  Sed porttitor lectus nibh. Vivamus magna justo, lacinia eget
                  consectetur sed, convallis at tellus. Proin eget tortor risus.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="faq-accordion">
          <div class="accordion">
            <div class="accordion-section">
              <div
                class="accordion-header"
                (click)="toggleSection(5)"
                [ngClass]="{ open: isSectionOpen(5) }"
              >
                Q - I forgot my password. What should I do?
              </div>
              <div
                class="accordion-content"
                [ngClass]="{ open: isSectionOpen(5) }"
              >
                <p>
                  Curabitur aliquet quam id dui posuere blandit. Vestibulum ac
                  diam sit amet quam vehicula elementum sed sit amet dui.
                  Quisque velit nisi, pretium ut lacinia in, elementum id enim.
                  Sed porttitor lectus nibh. Vivamus magna justo, lacinia eget
                  consectetur sed, convallis at tellus. Proin eget tortor risus.
                </p>
              </div>
            </div>
            <div class="accordion-section">
              <div
                class="accordion-header"
                (click)="toggleSection(6)"
                [ngClass]="{ open: isSectionOpen(6) }"
              >
                Q - What information do I need to know before I book?
              </div>
              <div
                class="accordion-content"
                [ngClass]="{ open: isSectionOpen(6) }"
              >
                <p>
                  Curabitur aliquet quam id dui posuere blandit. Vestibulum ac
                  diam sit amet quam vehicula elementum sed sit amet dui.
                  Quisque velit nisi, pretium ut lacinia in, elementum id enim.
                  Sed porttitor lectus nibh. Vivamus magna justo, lacinia eget
                  consectetur sed, convallis at tellus. Proin eget tortor risus.
                </p>
              </div>
            </div>
            <div class="accordion-section">
              <div
                class="accordion-header"
                (click)="toggleSection(7)"
                [ngClass]="{ open: isSectionOpen(7) }"
              >
                Q - Where can I get hotel contact details?
              </div>
              <div
                class="accordion-content"
                [ngClass]="{ open: isSectionOpen(7) }"
              >
                <p>
                  Curabitur aliquet quam id dui posuere blandit. Vestibulum ac
                  diam sit amet quam vehicula elementum sed sit amet dui.
                  Quisque velit nisi, pretium ut lacinia in, elementum id enim.
                  Sed porttitor lectus nibh. Vivamus magna justo, lacinia eget
                  consectetur sed, convallis at tellus. Proin eget tortor risus.
                </p>
              </div>
            </div>
            <div class="accordion-section">
              <div
                class="accordion-header"
                (click)="toggleSection(8)"
                [ngClass]="{ open: isSectionOpen(8) }"
              >
                Q - What is the biggest limitation in booking?
              </div>
              <div
                class="accordion-content"
                [ngClass]="{ open: isSectionOpen(8) }"
              >
                <p>
                  Curabitur aliquet quam id dui posuere blandit. Vestibulum ac
                  diam sit amet quam vehicula elementum sed sit amet dui.
                  Quisque velit nisi, pretium ut lacinia in, elementum id enim.
                  Sed porttitor lectus nibh. Vivamus magna justo, lacinia eget
                  consectetur sed, convallis at tellus. Proin eget tortor risus.
                </p>
              </div>
            </div>
            <div class="accordion-section">
              <div
                class="accordion-header"
                (click)="toggleSection(9)"
                [ngClass]="{ open: isSectionOpen(9) }"
              >
                Q - How do I reset my password?
              </div>
              <div
                class="accordion-content"
                [ngClass]="{ open: isSectionOpen(9) }"
              >
                <p>
                  Curabitur aliquet quam id dui posuere blandit. Vestibulum ac
                  diam sit amet quam vehicula elementum sed sit amet dui.
                  Quisque velit nisi, pretium ut lacinia in, elementum id enim.
                  Sed porttitor lectus nibh. Vivamus magna justo, lacinia eget
                  consectetur sed, convallis at tellus. Proin eget tortor risus.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
