<div class="footer-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-sm-12 col-md-12">
        <div class="single-footer-widget pe-5">
          <a routerLink="/" class="logo">
            <img src="assets/images/white-logo.png" alt="logo" />
          </a>
          <p>
            Lorem Ipsum is simply dummy text of the printing and type setting at
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            & scrambled it to make a type specimen book.
          </p>
          <ul class="social-link">
            <li>
              <a href="https://www.facebook.com/" target="_blank">
                <i class="ri-facebook-fill"></i>
              </a>
            </li>
            <li>
              <a href="https://www.twitter.com/" target="_blank">
                <i class="ri-twitter-line"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/" target="_blank">
                <i class="ri-instagram-line"></i>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/" target="_blank">
                <i class="ri-linkedin-fill"></i>
              </a>
            </li>
            <li>
              <a href="https://www.pinterest.com/" target="_blank">
                <i class="ri-pinterest-line"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-sm-4 col-md-4">
        <div class="single-footer-widget">
          <h3>Company</h3>
          <ul class="use-link">
            <li><a routerLink="/about">About us</a></li>
            <li><a routerLink="/about">Meet Our Team</a></li>
            <li><a routerLink="/terms-conditions">Terms & Conditions</a></li>
            <li><a routerLink="/privacy-policy">Privacy policy</a></li>
            <li><a routerLink="/contact">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-sm-3 col-md-4">
        <div class="single-footer-widget">
          <h3>Destinations</h3>
          <ul class="use-link">
            <li><a routerLink="/hotels-listing">Cabo San Lucas</a></li>
            <li><a routerLink="/hotels-listing">Turks & Caicos</a></li>
            <li><a routerLink="/hotels-listing">Grand Canyon</a></li>
            <li><a routerLink="/hotels-listing">New York City</a></li>
            <li><a routerLink="/hotels-listing">Great Barrier Reef</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-5 col-md-4">
        <div class="single-footer-widget">
          <h3>Contact Us</h3>
          <ul class="address-link">
            <li>
              <span>Address:</span>
              357 1st Street NM, 4th Floor, Washington, DC 20002-3579
            </li>
            <li>
              <span>Phone:</span>
              <a href="tel:+1-719-504-1984">+1 719-504-1984</a>
            </li>
            <li>
              <span>Email:</span>
              <a href="mailto:hello&#64;elad.com">hello&#64;elad.com</a>
            </li>
            <li>
              <span>Fax:</span>
              <a href="tel:+1-719-504-1984">+1 719-504-1984</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-area">
    <div class="container">
      <p>
        © <span>Elad</span> is Proudly Owned by
        <a href="https://envytheme.com/" target="_blank">EnvyTheme</a>
      </p>
    </div>
  </div>
</div>
