<!-- Hotel Details -->
@if (hotelDetails!=null) {
<div class="gallery-area pt-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="gallery-image">
                   
                        <img src="{{hotelDetails.photos[0]?.photoUrl != null ? hotelDetails.photos[3].photoUrl : '' }}" alt="gallerty-image">
                    
                    
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="row">
                    <div class="col-lg-6 col-sm-6 col-6">
                        <div class="gallery-image">
                            <img src="{{hotelDetails.photos[1]?.photoUrl != null ? hotelDetails.photos[3].photoUrl : '' }}">
                        </div>
                        <div class="gallery-image">
                            <img src="{{hotelDetails.photos[2]?.photoUrl != null ? hotelDetails.photos[3].photoUrl : '' }}" >
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-6">
                        <div class="gallery-image">
                            <img src="{{hotelDetails.photos[3]?.photoUrl != null ? hotelDetails.photos[3].photoUrl : '' }}" >
                        </div>
                        <div class="gallery-image">
                            <img src="{{hotelDetails.photos[4]?.photoUrl != null ? hotelDetails.photos[3].photoUrl : '' }}" >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="hotel-details-area pb-100">
    <div class="container">
        <div class="hotel-details-tabs">
            <ul class="nav-tabset">
                <li class="nav-tab" [ngClass]="{'active': currentTab === 'tab1'}">
                    <span (click)="switchTab($event, 'tab1')">
                        Overview
                    </span>
                </li>
                <li class="nav-tab" [ngClass]="{'active': currentTab === 'tab2'}">
                    <span (click)="switchTab($event, 'tab2')">
                        Rooms
                    </span>
                </li>
                
                <li class="nav-tab" [ngClass]="{'active': currentTab === 'tab4'}">
                    <span (click)="switchTab($event, 'tab6')">
                        Reviews
                    </span>
                </li>
            </ul>
            <div class="tabs-container">
                 <!-- overview -->
                 <div class="pane" id="tab1" *ngIf="currentTab === 'tab1'">
                    <div class="overview-content">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="content">
                                    <h3>{{hotelDetails.hotel.hotelName}}</h3>
                                    <p>{{hotelDetails.hotel.hotelLocation}}</p>
                                    <div class="rating">
                                        <i class="ri-star-fill"></i>
                                        {{hotelDetails.star}}/5 ({{hotelDetails.count}} reviews)
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="price-content">
                                    <div class="price"><span>{{hotelDetails.hotel.hotelPriceRange}}</span> VND(Per night)</div>
                                    <a (click)="switchTab($event, 'tab2')"  class="default-btn">Book Now</a>
                                    
                                </div>
                            </div>
                        </div>
                        <!--description-->
                        <p>description : {{hotelDetails.hotel.hotelDescription}}</p>
                        <p></p>
                        
                    </div>
                </div>
                <!-- room -->
                <div class="pane" id="tab2" *ngIf="currentTab === 'tab2'">
                    <div class="rooms-content">
                        <h3>Choose your room</h3>
                        <ul class="rooms-wrap">
                            @for (item of hotelDetails.rooms; track $index) {
                                <li class="rooms-list">
                                    <div class="row align-items-center">
                                        <div class="col-lg-4 col-md-6">
                                            <img src="{{item.photoUrl}}" alt="room-image">
                                        </div>
                                        <div class="col-lg-3 col-md-6">
                                            <h3>{{item.roomName}}</h3>
                                            <ul>
                                                
                                                <li><span>Single Bed :</span>{{item.numOfSingleBed}}</li>
                                                <li><span>Double Bed :</span>{{item.numOfDoubleBed}}</li>
                                                <li><span>Max guest :</span>{{item.maxPerInRoom}}</li>
                                                
                                            </ul>
                                        </div>
                                        <div class="col-lg-2 col-md-6">
                                            <ul class="listing">
                                                <li>Free WiFi</li>
                                                <li>Free breakfast</li>
                                                <li>Free self-parking</li>
                                                <li>Air conditioning</li>
                                                <li>Cable TV service</li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-3 col-md-6">
                                            <ul class="limited">
                                                
                                                <li><h2> {{item.roomPrice | number:'1.0-0'}} VND</h2> (Per night)</li>
                                                
                                                <li>
                                                    <a routerLink="/booking-hotel"
                                                    [queryParams]="{hotelId: hotelDetails.hotel.hotelId , roomId: item.roomId}" 
                                                     class="default-btn">
                                                        Book now
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            }
                            
                            
                        </ul>
                    </div>
                </div>
                <!-- location -->
                
                <!-- review -->
                <div class="pane" id="tab4" *ngIf="currentTab === 'tab6'">
                    <div class="reviews-content">
                        <div class="row">
                            <div class="col-lg-5 col-md-12">
                                <div class="review-bar">
                                    <h3>Reviews</h3>
                                    <h1>{{hotelDetails.star}}</h1>
                                    <p>{{hotelDetails.count}} reviews</p>
                                    <ul>
                                        <li>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" [style.width.%]="reviewCounts.get(5)" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><span class="best">Wonderful</span> <span class="persent">{{ reviewCounts.get(5) }}%</span></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" [style.width.%]="reviewCounts.get(4)" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"><span class="best">Very good</span> <span class="persent">{{ reviewCounts.get(4) }}%</span></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" [style.width.%]="reviewCounts.get(3)" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"><span class="best">Good</span> <span class="persent">{{ reviewCounts.get(3) }}%</span></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" [style.width.%]="reviewCounts.get(2)" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"><span class="best">Okay</span> <span class="persent">{{ reviewCounts.get(2) }}%</span></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" [style.width.%]="reviewCounts.get(1)" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"><span class="best">Poor</span> <span class="persent">{{ reviewCounts.get(1) }}%</span></div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <form class="review-form" [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
                                    <h3>Write a review</h3>
                                    <div class="star-rating">
                                        <input id="star-5" formControlName="rating" type="radio" name="rating" value="star-5" />
                                        <label for="star-5" title="5 stars">
                                        <i class="active ri-star-fill" aria-hidden="true"></i>
                                        </label>
                                        <input id="star-4" formControlName="rating" type="radio" name="rating" value="star-4" />
                                        <label for="star-4" title="4 stars">
                                        <i class="active ri-star-fill" aria-hidden="true"></i>
                                        </label>
                                        <input id="star-3" formControlName="rating" type="radio" name="rating" value="star-3" />
                                        <label for="star-3" title="3 stars">
                                        <i class="active ri-star-fill" aria-hidden="true"></i>
                                        </label>
                                        <input id="star-2" formControlName="rating" type="radio" name="rating" value="star-2" />
                                        <label for="star-2" title="2 stars">
                                        <i class="active ri-star-fill" aria-hidden="true"></i>
                                        </label>
                                        <input id="star-1" formControlName="rating" type="radio" name="rating" value="star-1" />
                                        <label for="star-1" title="1 star">
                                        <i class="active ri-star-fill" aria-hidden="true"></i>
                                        </label>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label>Review text</label>
                                        <textarea formControlName="reviewText" name="message" class="form-control" id="message" rows="6"></textarea>
                                    </div>
                                    <button class="default-btn">Submit your review</button>
                                </form>
                            </div>
                            <div class="col-lg-7 col-md-12">
                                <ul class="review-list">
                                    
                                    @for (review of hotelDetails.listReview; track $index) {
                                        <li>
                                            <div class="rating">
                                                <i *ngFor="let star of [].constructor(review.reviewStar)" class="ri-star-fill"></i>
                                                
                                              </div>
                                            <h4>{{review.userFullName}}</h4>

                                            <p>{{review.reviewText}}</p>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}
<app-subscribe></app-subscribe>