<div class="destinations-area pt-100 pb-75">
  <div class="container">
    <div class="section-title">
      <h2>Top Tour</h2>
      <p>Book the best for your next destination</p>
    </div>
    <div class="destinations-slides">
      <owl-carousel-o [options]="destinationsSlides">
        @if(listTour!==null){
          @for (item of listTour; track $index) {
            <ng-template carouselSlide>
              <div class="single-destinations-item">
                <div class="image">
                  <a routerLink="/tour-details"   [queryParams]="{tourId: item.tourId}">
                    <img
                      src="{{item.photoUrl}}"
                      alt="Image"
                    />
                  </a>
                  <span>{{item.tourName}}</span>
                </div>
                <div class="content">
                  <span class="date"></span>
                  <p>Starting from <span>{{item.tourPrice | number:'1.0-0'}} VND</span></p>
                </div>
              </div>
            </ng-template>
          }
          
        }
        
        
      </owl-carousel-o>
    </div>
  </div>
</div>
