<!-- Page Title -->
<div class="page-title-area ptb-100 bg-3">
    <div class="container">
        <div class="page-title-content">
            <h2>Register</h2>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li>Register</li>
            </ul>
        </div>
    </div>
</div>

<!-- Register -->
<div class="register-area ptb-100">
    <div class="container">
        <form class="register-form" method="post" [formGroup]="emailForm" (ngSubmit)="emailCheck()">
            <a href="javascript:void(0)" class="or-register google">Google</a>
            <a href="javascript:void(0)" class="or-register facebook">Facebook</a>
            <span class="or">Or</span>
            
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" type="email" name="email" formControlName="email">
            </div>
            
            
            <button class="default-btn" type="submit">Change Password</button>
            <p class="create">Already have an account? <a routerLink="/login">Login</a></p>  
        </form>
    </div>
</div>