<app-booking-bar></app-booking-bar>
<div class="book-now-area ptb-100">
    <div class="container">
        <form>
            <div class="book-now-content">
                <h3>Booking Informetion</h3>
                <div class="row">
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            <label>Your name</label>
                            <input type="text" name="name" id="name" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            <label>Phone number (optional)</label>
                            <input type="text" name="number" id="number" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" name="email" id="email" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            <label>Country/region of residence</label>
                            <select class="form-select">
                                <option selected>Select your country</option>
                                <option value="1">Japan</option>
                                <option value="2">Turkey</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            <label>Retype email</label>
                            <input type="email" name="retypeemail" id="retypeemail" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            <label>Select your arriving time</label>
                            <select class="form-select">
                                <option selected>Select your arriving time</option>
                                <option value="1">Hotel</option>
                                <option value="2">Hotel Party</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            <label>Date of birth</label>
                            <input type="text" class="form-control" id="datetimepicker3">
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            <label>Gender</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="checkme" id="male">
                                <label class="form-check-label" for="male">
                                    Male
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="checkme" id="female" checked>
                                <label class="form-check-label" for="female">
                                    Female
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="book-now-content">
                <h3>Guest information</h3>
                <div class="row">
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            <label>Guest 1 - Full name</label>
                            <input type="text" name="name" id="name" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            <label>Guest 2 - Full name</label>
                            <input type="text" name="number" id="number" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="book-now-content pay-info">
                <h3>Let us know who you are</h3>
                <p>Please enter the details of your payment card</p>
                <h3>Select payment method</h3>
                <img src="assets/images/payment.png" alt="cards">
                <div class="row">
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            <label>Card holder name</label>
                            <input type="text" name="holder" id="holder" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            <label>Card number</label>
                            <input type="text" name="card" id="card" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="form-group">
                            <label>Expiration date</label>
                            <select class="form-select">
                                <option selected>Month</option>
                                <option value="1">January</option>
                                <option value="2">February</option>
                                <option value="3">February</option>
                                <option value="4">March</option>
                                <option value="5">April</option>
                                <option value="6">May</option>
                                <option value="7">June</option>
                                <option value="8">July</option>
                                <option value="9">August</option>
                                <option value="10">September</option>
                                <option value="11">October</option>
                                <option value="12">November</option>
                                <option value="13">December</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="form-group">
                            <label>Year</label>
                            <select class="form-select">
                                <option selected>Year</option>
                                <option value="1">2022</option>
                                <option value="2">2021</option>
                                <option value="3">2020</option>
                                <option value="4">2019</option>
                                <option value="5">2018</option>
                                <option value="6">2017</option>
                                <option value="7">2016</option>
                                <option value="8">2015</option>
                                <option value="9">2014</option>
                                <option value="10">2013</option>
                                <option value="11">2012</option>
                                <option value="12">2011</option>
                                <option value="13">2010</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="form-group">
                            <label>CVC/CVV</label>
                            <input type="text" name="cvc" id="cvc" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="book-now-content">
                <h3>Billing address</h3>
                <div class="row">
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            <label>Billing address 1</label>
                            <input type="text" name="address" id="address" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            <label>Billling address 2</label>
                            <input type="text" name="billling" id="billling" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="form-group">
                            <label>City</label>
                            <input type="text" name="city" id="city" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="form-group">
                            <label>Country</label>
                            <input type="text" name="country" id="country" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="form-group">
                            <label>Postal code</label>
                            <input type="text" name="postal-code" id="postal-code" class="form-control">
                        </div>
                    </div>
                </div>
                <button class="default-btn" type="submit">Book Now</button>
            </div>
            <div class="book-now-content info">
                <h3>Important information about your booking</h3>
                <p>Cras ultricies ligula sed magna dictum porta. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Pellentesque in ipsum id orci porta dapibus. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Vestibulum   ac diam sit amet quam vehicula elementum sed sit amet dui. Nulla porttitor accumsan tincidunt.</p>
                <p>Cras ultricies ligula sed magna dictum porta. Donec sollicitudin molestie malesuada. Pellentesque in ipsum id orci porta dapibus. Sed porttitor lectus nibh. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Pellentesque in ipsum id orci porta dapibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Donec sollicitudin molestie malesuada. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Nulla porttitor accumsan tincidunt.</p>
            </div>
        </form>
    </div>
</div>

<app-subscribe></app-subscribe>