<app-booking-bar></app-booking-bar>
<!-- Hotels -->
<div class="hotels-area ptb-100">
    <div class="container">
        <div class="row">
            <!--Search sidebar -->
            <div class="col-lg-3 col-md-12">
                <div class="left-sidebar">
                    <div class="single-widget">
                        <h3>Search here</h3>
                        <!-- filter -->
                        <form (ngSubmit)="onSubmit()">
                            <input type="text" [(ngModel)]="hotelName" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Search hotel name">
                            <button type="submit" class="src-btn"><i class="ri-search-line"></i></button>
                            
                        </form>
                    </div>
                    
                    
      
                    
                </div>
            </div>
            <!-- -------- -->
            <!--The hotel result -->
            <div class="col-lg-9 col-md-12">
                <div class="hotels-listing">
                    <ul class="d-flex justify-content-between sorting">
                        <li>
                            @if (listHotelDto!=null) {
                                <span>{{totalItems}} hotels</span>
                            }@else {
                                <span>0 hotels</span>
                            }
                            
                        </li>
                        
                    </ul>
                    <ul class="hotels-list">
                        
                        @if (listHotelDto!=null) {
                            @for (item of listHotelDto.result; track $index) {
                                <li class="single-hotel-box">
                                    <div class="row align-items-center justify-content-center">
                                        <div class="col-xl-5 col-lg-12 col-sm-12">
                                            <a routerLink="/hotel-details"  class="d-block" [queryParams]="{hotelId: item.hotelId}">
                                                <img src="{{item.photoUrl}}" alt="listing-image">
                                            </a>
                                        </div>
                                        <div class="col-xl-4 col-lg-6 col-sm-7">
                                            <div class="content">
                                                <h3>
                                                    <a routerLink="/hotel-details" [queryParams]="{hotelId: item.hotelId}">
                                                        {{item.hotelName}} 
                                                    </a>
                                                </h3>
                                                <p>{{item.hotelLocation}}</p>
                                                <div class="rating">
                                                    {{item.star}}/5 <i class="ri-star-fill"></i> ({{item.countReview}} reviews)
                                                    
                                                </div>
                                                <p></p>
                                                <div class="price">{{item.hotelPriceRange}} VND/Night <span></span></div>
                                                <a routerLink="/book-now" class="default-btn">Book now</a>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-lg-6 col-sm-5">
                                            <ul class="info">
                                                
                                                @for (facility of item.facilities; track $index) {
                                                    <li>
                                                        <div [innerHTML]="facility.facilityName"></div>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            }
                        }
                        
                    </ul>
                    <!--
                        <div class="pagination-area">
                        <a routerLink="/hotels-listing" class="next page-numbers">
                            <i class="ri-arrow-left-line"></i>
                        </a>
                        <span class="page-numbers current" aria-current="page">1</span>
                        <a routerLink="/hotels-listing" class="page-numbers">2</a>
                        <a routerLink="/hotels-listing" class="page-numbers">3</a>
                        <a routerLink="/hotels-listing" class="next page-numbers">
                            <i class="ri-arrow-right-line"></i>
                        </a>
                        </div>
                    -->
                    
                    <div class="pagination-area">
                        <a (click)="onPageChange(page - 1, page, hotelName)" class="prev page-numbers">
                            <i class="ri-arrow-left-line"></i>
                          </a>

                       
                        @for (item of getPages(); track $index) {
                            @if (item==page) {
                                <a (click)="onPageChange(item,page, hotelName)" class="page-numbers current">{{item}}</a>
                            }@else {
                                <a (click)="onPageChange(item, page, hotelName)" class="page-numbers">{{item}}</a>
                            }
                            
                        }

                        <a (click)="onPageChange(page + 1, page, hotelName)" class="next page-numbers">
                            <i class="ri-arrow-right-line"></i>
                          </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-subscribe></app-subscribe>