
<div class="flights-area ptb-100">
    <div class="container">
        <div class="row">
            
            
            <!-- result site -->
             @if (listBooking!==null) {
              <div class="col-lg-12 col-md-12">
                Hotel Booking : {{listBooking.listDetailBookingHotel.length}}
                @if (listBooking.listDetailBookingHotel.length > 0) {
                  <div class="flights-listing">
                    <div class="form-group">
                        <table class="table table-warning table-bordered" >
                            <thead>
                              <tr class="right-align">
                                <th scope="col">Hotel Invoice Id</th>
                                
                                <th scope="col">Check In Date </th>
                                <th scope="col">Check Out Date </th>
                                <th scope="col">Discount Code</th>
                                <th scope="col">Discount Percent</th>
                                <th scope="col">Num Of Adults</th>
                                <th scope="col">Num Of Children</th>
                                <th scope="col">Num Of Days</th>
                                <th scope="col">Room Id</th>
                                <th scope="col">Room Price</th>
                                <th scope="col">Sub Total</th>
                                <th scope="col">Tax</th>
                                <th scope="col">Total</th>
                              </tr>
                            </thead>
                            
                                <tbody>
                                  @for (item of listBooking.listDetailBookingHotel; track $index) {
                                    <tr class="right-align">
                                      <td>{{item.hotelInvoiceId}}</td>
                                      
                                      <td>{{item.checkinDate}}</td>
                                      <td>{{item.checkoutDate}}</td>
                                      <td>{{item.discountCode}}</td>
                                      <td>{{item.discountPercent}}</td>
                                      <td>{{item.numOfAdults}}</td>
                                      <td>{{item.numOfChildren}}</td>
                                      <td>{{item.numOfDays}}</td>
                                      <td>{{item.roomId}}</td>
                                      <td>{{item.roomPrice}}</td>
                                      <td>{{item.subTotal}}</td>
                                      <td>{{item.tax}}</td>
                                      <td>{{item.total}}</td>
                                      
                                    </tr>
                                  }
                                   
                                    
                                    
                                  </tbody>
                            
                            
                          </table>
                    </div>

                </div>
                }
                
                Flight Booking : {{listBooking.listDetailBookingFlight.length}}
                <div class="flights-listing">
                  @if (listBooking.listDetailBookingFlight.length >0) {
                    <div class="form-group">
                      <table class="table table-warning table-bordered" >
                          <thead>
                            <tr class="right-align">
                              <th scope="col">Flight Invoice ID</th>
                              
                            
                              <th scope="col">Number Of Passengers</th>
                              <th scope="col">Flight Price</th>
                              <th scope="col">Discount Code</th>
                              <th scope="col">Discount Percent</th>
                              <th scope="col">Sub Total</th>
                              <th scope="col">Tax</th>
                              <th scope="col">Total</th>
                            </tr>
                          </thead>
                          
                              <tbody>
                                @for (item of listBooking.listDetailBookingFlight; track $index) {
                                  <tr class="right-align">
                                    <td>{{item.flightInvoiceId}}</td>
                                    
                                    <td>{{item.numOfPassengers}}</td>
                                    <td>{{item.flightPrice}}</td>
                                    <td>{{item.discountCode}}</td>
                                    <td>{{item.discountPercent}}</td>
                                    <td>{{item.subTotal}}</td>
                                    <td>{{item.tax}}</td>
                                    <td>{{item.total}}</td>
                                    
                                    
                                  </tr>
                                }
                                  
                                  
                                </tbody>
                          
                          
                        </table>
                  </div>
                  }

              </div>
              Tour Booking : {{listBooking.listDetailBookingTour.length}}
              <div class="flights-listing">
                @if (listBooking.listDetailBookingTour.length > 0) {
                  <div class="form-group">
                    <table class="table table-warning table-bordered" >
                        <thead>
                          <tr class="right-align">
                            <th scope="col">Tour Invoice Id</th>
                            
                            <th scope="col">Number Of Passengers</th>
                            <th scope="col">Tour Price</th>
                            <th scope="col">Discount Code</th>
                            <th scope="col">Discount Percent</th>
                            <th scope="col">Sub Total</th>
                            <th scope="col">Tax</th>
                            <th scope="col">Total</th>
                          </tr>
                        </thead>
                        
                            <tbody>
                              @for (item of listBooking.listDetailBookingTour; track $index) {
                                <tr class="right-align">
                                  <td>{{item.tourInvoiceId}}</td>
                                  
                                  <td>{{item.numOfPeople}}</td>
                                  <td>{{item.tourPrice}}</td>
                                  <td>{{item.discountCode}}</td>
                                  <td>{{item.discountPercent}}</td>
                                  <td>{{item.subTotal}}</td>
                                  <td>{{item.tax}}</td>
                                  <td>{{item.total}}</td>
                                  
                                  
                                </tr>
                              }
                              </tbody>
                        
                        
                      </table>
                </div>
                }

            </div>
            </div>
             }
            
            
        </div>
    </div>
</div>
