<div class="email-sent-confirmation">
    <div class="container">
      <div class="content">
        
        <div class="policy-container">
          <h1>Chính sách bảo mật</h1>
          <p>
            Chúng tôi cam kết bảo vệ quyền riêng tư của bạn. Chính sách bảo mật này mô tả cách chúng tôi thu thập, sử dụng và bảo vệ thông tin cá nhân của bạn.
          </p>
        
          <h2>1. Thu thập thông tin</h2>
          <p>
            Chúng tôi có thể thu thập các thông tin cá nhân như tên, địa chỉ email, địa chỉ bưu điện và số điện thoại khi bạn đăng ký sử dụng dịch vụ hoặc liên hệ với chúng tôi.
          </p>
        
          <h2>2. Sử dụng thông tin</h2>
          <p>
            Thông tin cá nhân của bạn sẽ được sử dụng để cung cấp dịch vụ, cải thiện dịch vụ của chúng tôi và liên hệ với bạn về các bản cập nhật và ưu đãi.
          </p>
        
          <h2>3. Bảo vệ thông tin</h2>
          <p>
            Chúng tôi sử dụng các biện pháp bảo mật kỹ thuật và tổ chức để bảo vệ thông tin cá nhân của bạn khỏi mất mát, truy cập trái phép, và sử dụng sai mục đích.
          </p>
        
          <h2>4. Chia sẻ thông tin</h2>
          <p>
            Chúng tôi không chia sẻ thông tin cá nhân của bạn với bất kỳ bên thứ ba nào, trừ khi được pháp luật yêu cầu hoặc bạn đồng ý.
          </p>
        
          <h2>5. Điều khoản sử dụng</h2>
          <p>
            Bằng cách sử dụng dịch vụ của chúng tôi, bạn đồng ý với các điều khoản sử dụng được nêu trong chính sách này.
          </p>
        
          <button class="btn btn-primary" (click)="register()">Agree</button>
        </div>
        
        
        <button class="btn btn-primary" (click)="navigateToLogin()">Back to Login</button>
      </div>
    </div>
  </div>
  